version: "3.8"

services:
  db:
    image: postgres:13-alpine
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=ockman_local
    ports: 
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  server:
    build: .
    ports:
      - "8000:8000"
    environment: 
      - POSTGRES_HOST=db
      - DEBUG=True
    depends_on: 
      - db
    command: [sh, -c,
              ./wait-for-database.sh db:5432 --
              python manage.py makemigrations &&
              python manage.py migrate &&
              python manage.py runserver 0.0.0.0:8000
            ]
    volumes: 
      - ./:/app

volumes: 
  pgdata:
      